.App {
  height: 100%; 
  width: 100vw; 
  text-align: center;   
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(191, 220, 230); 
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px; 
  margin-top: 0; 
  padding-top: 40px; 
}

.currentNum {
  height: 50px; 
}

h3 {
  font-family: 'Courgette', cursive;
}

.green {
  color: rgb(3, 139, 3); 
}

.red {
  color: rgb(197, 13, 13); 
}

.purple {
  color: rgba(179, 5, 179, 0.774); 
}

.show-persons {
  display: flex;
  flex-wrap: wrap;  
  margin: 20px; 
  justify-content: center; 
}

.hide-persons {
  display: none; 
}

button {
  background-color: rgb(48, 128, 131); 
  color: white; 
  font-size: 15px; 
  padding: 10px; 
  border-radius: 8px; 
  cursor: pointer; 
}

.button-with-bottom-margin {
  margin-bottom: 600px; 
}
