.App {
  height: 100%; 
  width: 100vw; 
  text-align: center;   
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(191, 220, 230); 
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px; 
  margin-top: 0; 
  padding-top: 40px; 
}

.show-persons {
  display: block;
}

.hide-persons {
  display: none; 
}

button {
  background-color: rgb(48, 128, 131); 
  color: white; 
  font-size: 15px; 
  padding: 10px; 
  border-radius: 8px; 
  cursor: pointer; 
}

.button-with-bottom-margin {
  margin-bottom: 600px; 
}
